.nav {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 0 1fr;

  font-family: 'Quicksand', monospace;
  font-size: 1.2rem;

  background: var(--app-color-shell);

  width: 61.8%;

  position: fixed;
  top: 0;
  z-index: 20;

  padding-right: 0.6rem;

  border-radius: 0 0 1rem 1rem;

  transition: box-shadow 150ms ease-out, background-color var(--transition-duration) ease-in;

  &.dark.shadow {
    background-color: #383a3e;
  }

  &.shadow {
    box-shadow: 0 3.4px 6.3px rgba(0, 0, 0, 0.099), 0 27px 50px rgba(0, 0, 0, 0.1);
  }

  & a {
    --color: var(--app-color-primary);
    --color-rgb: var(--app-color-primary-rgb);
    --marker-height: 6px;
    --marker-opacity: 0.4;
    --border-radius: 0;

    display: block;

    user-select: none;

    z-index: 22;

    padding: 0rem 0.3rem;
    margin: 0.5rem 0.5rem;

    font-weight: 500;
    color: var(--color) !important;

    position: relative;

    transition: all 170ms ease-in;

    &:focus-visible,
    &:hover {
      --border-radius: 4px;
      --marker-height: 100%;
      --marker-opacity: 1;
      --color: var(--app-color-primary-contrast) !important;

      &::after {
        transform: scaleX(1);
      }
    }

    &[aria-current='page'] {
      &::after {
        transform: scaleX(1);
      }
    }
  }

  & a::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: var(--marker-height);

    transform: scaleX(0);
    transform-origin: bottom;

    border-radius: var(--border-radius);

    will-change: trasnform;
    transition: all 170ms ease-in;

    background-color: rgba(var(--color-rgb), var(--marker-opacity));
  }
}

.navLinksList {
  display: flex;
  align-items: center;
  // justify-content: center;

  list-style: none;

  padding: 0;
  margin: 0;
}

.brand {
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  color: var(--app-color-primary);
  font-size: 1.5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  // padding: 0 0 0 0.75rem;

  height: 100%;

  span {
    line-height: 1 !important;
  }

  :global(path, rect) {
    transition: fill 200ms ease-in;
    // transition-delay: -100ms;
  }

  & svg {
    --size: 2rem;
    height: var(--size);
    width: var(--size);

    margin-right: 0.75rem;
  }
}

.themeSwitcher {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
  .nav {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .brand {
    display: none;
  }

  .nav {
    grid-template-columns: auto 1fr auto;
  }
}

@media screen and (max-width: 405px) {
  .nav a {
    margin: 0.2rem 0.2rem !important;
  }
}
