.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin-top: 1rem;

  section {
    display: flex;
    flex-direction: column;

    box-shadow: 0 0.3px 1.1px rgba(0, 0, 0, 0.017), 0 0.8px 2.5px rgba(0, 0, 0, 0.024),
      0 1.3px 4.3px rgba(0, 0, 0, 0.03), 0 2.1px 6.9px rgba(0, 0, 0, 0.035),
      0 3.3px 10.6px rgba(0, 0, 0, 0.04), 0 5.1px 16.6px rgba(0, 0, 0, 0.046),
      0 8.5px 27.5px rgba(0, 0, 0, 0.053), 0 17px 55px rgba(0, 0, 0, 0.07);

    border-radius: 1rem;

    :global(body.night) & {
      background-color: #383a3e;
    }

    :global(body.radioactive) & {
      background-color: #202046;
    }
  }

  .img-preview {
    max-width: 100%;

    object-fit: contain;

    img {
      width: 100%;

      border-radius: 1rem 1rem 0 0;
    }
  }

  .info-section {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
  }

  .title {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
  }

  a {
    fill: var(--app-color-dark);
  }

  .icons {
    display: flex;
    gap: 0.5rem;
  }
}
